<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hitek.authorization.ilis2.product.init.configuration.mapper.InitialConfigMapper">
  <resultMap id="BaseResultMap" type="cn.hitek.authorization.ilis2.product.init.configuration.domain.InitialConfig">
    <!--@mbg.generated-->
    <!--@Table t_initial_config-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="profile_name" jdbcType="VARCHAR" property="profileName" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="schema_name" jdbcType="VARCHAR" property="schemaName" />
    <result column="active" jdbcType="BOOLEAN" property="active" />
    <result column="init_with_data" jdbcType="BOOLEAN" property="initWithData" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_by, create_time, update_by, update_time, profile_name, host, port, username, password, `path`, schema_name, active, init_with_data, is_deleted
  </sql>
</mapper>
