<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hitek.authorization.ilis2.product.unit.mapper.UnitUserOnlineLogMapper">
    <select id="getWeekStatisticData"
            resultType="cn.hitek.authorization.ilis2.product.unit.domain.dto.WeekOnline">
        select log_time, sum(online_members) members from t_unit_user_online_log where week(log_time, 1) = week(now(), 1) group by log_time
    </select>
</mapper>
