<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="300">
    <properties>
        <property name="LOG_HOME" value="logs"/>
        <property name="ERROR_LOG_FILE_NAME" value="error"/>
        <property name="INFO_LOG_FILE_NAME" value="info"/>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="CONSOLE_LOG_PATTERN">%clr{${LOG_LEVEL_PATTERN}} %clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:PID}}{magenta} %clr{-}{faint} [%style{%t}{bright,blue}] %clr{%-c{1.}}{cyan} %clr{(%F:%L)}{faint} %clr{-}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="LOG_PATTERN">${LOG_LEVEL_PATTERN} %d{${LOG_DATEFORMAT_PATTERN}} ${sys:PID} -&#45;&#45; [%t] %-c{1.} %F:%L - %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    </properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingRandomAccessFile name="ERROR_LOG"
                                 fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout
                    pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>

        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="INFO_LOG"
                                 fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout
                    pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <Rewrite name="REWRITE">
            <AppenderRef ref="INFO_LOG"/>
        </Rewrite>
    </Appenders>
    <Loggers>
        <Logger name="cn.hitek" level="INFO" includeLocation="true"/>
        <Logger name="org.crown.framework.p6spy" level="DEBUG" includeLocation="true"/>
        <Logger name="com.baomidou.mybatisplus.core.metadata.TableInfoHelper" level="ERROR" includeLocation="true"/>
        <Logger name="com.baomidou.dynamic" level="INFO" includeLocation="true"/>
        <Root level="warn" includeLocation="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="REWRITE"/>
            <appender-ref ref="ERROR_LOG"/>
        </Root>
    </Loggers>
</Configuration>
